/*===================================================================================*/
/* Admin Profile
/*===================================================================================*/


.user_profile .user_menu ul li {
   
    background-color: #59B210;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    width: 271px;
    color:#fff;

}
.user_profile .user_menu ul li:hover{

  background-color: #fff;
  transition: 0.5s;
  color:#000;
}
.user_profile .user_menu img {
  width: 151px;
  height: 150px;
  border-radius: 134px;
  align-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 5px;
  margin-left: 58px;
}
.user_profile .submit{
  margin-top: 15px;
  text-transform: uppercase;
}

